.searchcontainer ul, .searchcontainer li {padding: 0; margin: 0;}
#statesmod {position:relative;}
.searchcontainer {position:relative; top:0.1em; }
.searchcontainer .yui-ac-content {position:absolute;width:550px;border:1px solid #AAAAAA;background:#eee;overflow:hidden;z-index:9050;}
.searchcontainer .yui-ac-shadow {position:absolute;margin:.3em;width:550px;background:#a0a0a0;z-index:9049;}
.searchcontainer ul {padding:5px 0;width:550px;}
.searchcontainer li {padding:0 5px;cursor:default;white-space:nowrap;color:#222;}
.searchcontainer li.yui-ac-highlight {background:#08c;color:#fff;}
.searchcontainer li.yui-ac-prehighlight {background:#FAFAFA !important;color:#222;}
.searchcontainer li.input-prepend {background:#08c;color:#fff;}
.searchcontainer li.input-prepend {background:#FAFAFA !important;color:#222;}
